{% extends 'headerbefore.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}
{% block stylesheets%}
    <style>
        body{
            background-image:url({{asset('images/bg.jpg')}});
            background-size: cover;
            background-attachment: fixed;
            min-height: 100%;
        }
        .wrapper .logo img{
            max-width: 30%;
        }
        .wrapper input:focus{
            box-shadow:none;
            border-color:var(--gray);
        }
        .wrapper .submit_btn{
            padding:15px;
            font-weight: 500;
        }
        .wrapper .submit_btn:focus{
            box-shadow: none;
        }
        #mondiv2{
        }
        #mondiv{
            margin-right:80px;
            width:110px;
        }
        #mondiv1{
            margin-right:30px;
            width:110px;
        }
        
    </style>
{% endblock %}
{% block body %}
<section class="wrapper">
    <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
        <div class="logo">
            <img src="{{asset('images/clinikcmbm1.png')}}" alt="logo" class="img-fluid">
        </div>
        <form class="rounded bg-white shadow p-5">
            <h3 style="font-size:25px">Réinitialisation de mot de passe</h3>
            {{form_start(requestPassForm)}}
                {% block flash_messages %}
                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endblock %}
            {{form_row(requestPassForm.email)}}
            <div class="mt-4 text-end" id="mondiv2">
                    <a id="mondiv" href="{{path('app_login')}}" class="btn btn-outline-secondary theBtn1 fw-bold text-decoration-none">Retour</a>
                    <a id="mondiv1" href="#" type="submit" class="btn btn-outline-success theBtn text-decoration-none">Envoyer</a>
            </div>
            {{form_end(requestPassForm)}}
        </form>
    </div>
</section>
{% endblock %}