{% extends 'headerallpatient.html.twig' %}

{% block title %}Connexion
{% endblock %}
{% block stylesheets%}
	<style>
		body {
			background-image: url({{asset('images/hero-bg.png')}});
			background-size: cover;
			background-attachment: fixed;
			min-height: 100%;
		}
		.wrapper .logo img {
			max-width: 25%;
		}
		.wrapper input:focus {
			box-shadow: none;
			border-color: #1fab89;
		}
		.fontuser input,
		select {
			padding-left: 35px !important;
		}
		.wrapper select:focus {
			box-shadow: none;
			border-color: #1fab89;
		}
		.wrapper .submit_btn {
			padding: 15px;
			font-weight: 500;
		}
		.wrapper .submit_btn:focus {
			box-shadow: none;
		}
		#container2 {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}

		label span {
			color: red;
			font-size: 18px;
		}
		#formm {
			position: absolute;
			margin-top: 80px;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		.fontuser {
			position: relative;
		}

		.fontuser i {
			position: absolute;
			left: 12px;
			top: 38px;
			color: gray;
		}
		p {
			margin-bottom: 0 !important;
		}
		.avatar {
			font-size: 16px;
			width: 3em;
			height: 3em;
			border-radius: 50%;
			background: #555555;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}

		.avatar::after {
			content: attr(data-label);
			font-family: "Readex Pro", sans-serif;
			color: #ffffff;
		}

		#alertee {
			background-color: inherit;
			border: none;
			padding-left: 0;
			padding-bottom: 0 !important;
			margin-bottom: 20px !important;
		}

		#precap {
			font-size: 28px;
			font-weight: 600;
		}

		#psrecap {
			font-size: 12px;
		}
		#drv {
			height: 40px;
			background-color: #F8F8F8;
			border-radius: 5px;
		}
		p i {
			margin-right: 8px;
		}
		#statusrecap {
			background-color: #DAD7D7;
			text-align: center;
			width: 78px;
			padding: 4px;
			border-radius: 5px;
		}
		#ref {
			text-align: right;
		}

		.fa-solid.fa-circle-info {
			color: #198754;
		}
		.bi.flex-shrink-0.me-2 {
			color: #198754;
		}
	</style>
{% endblock %}
{% block body %}

	<section class="wrapper">
		<div id="container2" class="col-sm-8  col-lg-9 col-xl-5">
			<form
				method="post" action="{{ path('app_recapitulatif') }}" id="formm" class="rounded bg-white shadow py-3 pb-5 px-4">

				{# <h3 class="text-dark fw-bolder fs-2 mb-4">Votre récapitulatif</h3> #}
				<div class="row">

					<div class="col-lg-4">
						<div class="card mb-4 rounded border border-light bg-light">
							<div class="card-body text-center">
								<div class="avatar" data-label="{{personsp}}{{personsn}}"></div>
								<h5 class="my-3">{{app.user.prenom}}
									{{app.user.nom}}</h5>
								<p class="text-muted mb-1">{{app.user.userIdentifier}}</p>
								<p class="text-muted mb-4">{{app.user.telephone}}</p>
								<div class="d-flex justify-content-center mb-2">
									<a href="/profil_patient" type="button" class="btn btn-success">Profil</a>
									<a href="/rendez-vous" type="button" class="btn btn-outline-success ms-1">
										<i class="fa-solid fa-circle-plus "></i>
										Rendez-vous</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="card mb-4 border-0">
							<div class="card-body p-0 mx-3 my-3">
								<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
									<symbol id="check-circle-fill" fill="currentColor" viewbox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
									</symbol>
									<symbol id="info-fill" fill="currentColor" viewbox="0 0 16 16">
										<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
									</symbol>
									<symbol id="exclamation-triangle-fill" fill="currentColor" viewbox="0 0 16 16">
										<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
									</symbol>
								</svg>

								<div id="alertee" class="alert alert-success d-flex align-items-center" role="alert">
									<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
										<use xlink:href="#check-circle-fill"/>
									</svg>
									<div></div>
								</div>
								<div class="row">
									<div class="col-md-7 ">
										<p>
											Rendez-vous confirmé
										</p>
									</div>
									<div class="col-md-5 ">
										<p id="ref" class="text-rigth">
											REF :
											{{numreference}}<br>
											<span>{{today}}</span>
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9 w-100">
										<p id="precap" class="mb-0">Mercredi 28 Avril à 21h45</p>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-9">
										<p id="psrecap" class="mb-4 my-2">NB: Veiller à ne pas manquer votre rendez-vous
										</p>
									</div>
								</div>
								<div id="drv" class="row mb-3">
									<div class="col-md-9">
										<i class="fa-light fa-memo-circle-info"></i>
										<p class="mb-4 my-2">
											<i class="fa-solid fa-circle-info"></i>Détails du rendez-vous</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9 ">
										<p class="mb-2">
											<i class="fa-regular fa-user"></i>
											{{persons.prenomPatient}}
											{{persons.nomPatient}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7 ">
										<p class="mb-2 text-truncate" style="overflow:auto">
											<i class="fa-regular fa-envelope"></i>
											{{persons.emailPatient}}
										</p>
									</div>
									<div class="col-md-5 ">
										<p class="mb-2">
											<i class="fa-solid fa-phone"></i>
											{{persons.numTel}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<p class="mb-2 text-truncate" style="overflow:auto">
											<i class="fa-solid fa-location-dot"></i>
											{{persons.Adresse}}
										</p>
									</div>
									<div class="col-md-5 ">
										<p class="mb-2">
											<i class="fa-solid fa-venus-mars"></i>
											{{persons.Sexe}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<p class="mb-2 text-capitalize">
											<i class="text-none fa-solid fa-truck-medical"></i>
											Service :
											{{persons.Service}}
										</p>
									</div>
									<div class="col-md-5">
										<p class="mb-2">
											<i class="fa-regular fa-calendar"></i>
											Age :
											{{persons.Age}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-7">
										<p class="mb-2">
											<i class="fa-regular fa-calendar-days"></i>
											{{persons.dateRdv}}
										</p>
									</div>

								</div>

								<div class="row">
									<div class="col-md-7 ">
										<p class="mb-2">
											<i class="fa-regular fa-clock"></i>
											{{persons.heureRes}}
										</p>
									</div>
									<div class="col-md-5">
										<p id="statusrecap" class="mb-2">
											{{persons.Status}}
										</p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-9 ">
										<p class="mb-2">
											<i class="fa-solid fa-pen-to-square"></i>
											{{persons.motif}}
										</p>
									</div>
								</div>

								<div class="row">
									<div class="col-md-9 mt-4 p-0">
										<a href="/rendez-vous" type="button" class="btn btn-outline-success ms-1">
											<i class="fa-solid fa-circle-plus "></i>
											Nouveau Rendez-vous</a>
										<a href="/home" type="button" class="btn btn-danger">Quitter</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<script>
	inputDate.min = new Date().toISOString().split("T")[0];

const avatars = document.querySelectorAll(".avatar");

avatars.forEach((a) => {
const charCodeRed = a.dataset.label.charCodeAt(0);
const charCodeGreen = a.dataset.label.charCodeAt(1) || charCodeRed;

const red = Math.pow(charCodeRed, 7) % 200;
const green = Math.pow(charCodeGreen, 7) % 200;
const blue = (red + green) % 200;

a.style.background = `rgb(${red}, ${green}, ${blue})`;
});
</script>{% endblock %}
